p {
  width: 600px;
}

a {
  position: relative;
}
.anteater-background::before {
  /* display: inline; */
  content: "";
  background-image: url("../files/anteater.jpeg");
  background-size: 60%;
  /* background-size: cover; */
  position: absolute;
  opacity: 0.2;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.back-to-main {
  position: absolute;
  left: 0;
  top: 0;
  margin: 1rem;
}
